@import "src/styles/core/variables";

@mixin flex-container($direction: row, $justify: center, $wrap: nowrap) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  flex-wrap: $wrap;
}

.flex-row {
  @include flex-container(row);
}
.flex-row-end {
  @include flex-container(row, flex-end);
}
.flex-column {
  @include flex-container(column, flex-start);
}
.flex-row-wrap {
  @include flex-container(row, center, wrap)
}

@for $size from 0 through 64 {
  @each $key, $value in $units {
    .gap-#{$size}#{$key} {
      gap: #{$size}#{$value} !important;
    }

    .row-gap-#{$size}#{$key} {
      row-gap: #{$size}#{$value} !important;
    }

    .column-gap-#{$size}#{$key} {
      column-gap: #{$size}#{$value} !important;
    }
  }
}
