@import "src/styles/core/variables";

@for $size from 0 through 64 {
  @each $key, $value in $units {
    @each $position, $pos in $positions {
      .m#{$position}-#{$size}#{$key} {
        margin-#{$pos}: #{$size}#{$value} !important;
      }
    }

    .m-#{$size}#{$key} {
      margin: #{$size}#{$value} !important;
    }

    .mx-#{$size}#{$key} {
      margin-right: #{$size}#{$value} !important;
      margin-left: #{$size}#{$value} !important;
    }

    .my-#{$size}#{$key} {
      margin-top: #{$size}#{$value} !important;
      margin-bottom: #{$size}#{$value} !important;
    }
  }
}
