@import "src/styles/core/variables";

@for $size from 0 through 64 {
  @each $key, $value in $units {
    @each $position, $pos in $positions {
      .p#{$position}-#{$size}#{$key} {
        padding-#{$pos}: #{$size}#{$value} !important;
      }
    }

    .p-#{$size}#{$key} {
      padding: #{$size}#{$value} !important;
    }

    .px-#{$size}#{$key} {
      padding-right: #{$size}#{$value} !important;
      padding-left: #{$size}#{$value} !important;
    }

    .py-#{$size}#{$key} {
      padding-top: #{$size}#{$value} !important;
      padding-bottom: #{$size}#{$value} !important;
    }
  }
}
